@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.comments-page {

  max-width: 800px;
  width: 800px;
  margin: 0 auto;
  // padding: 1rem 1rem;
}

.comments-header {
  margin-bottom: 2.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid $border-color;

  h1 {
    color: $dark-text;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}

@media (max-width: 768px) {
  .comments-page {
    width: 700px;
    max-width: 700px;
    padding: 1rem 0.5rem;
  }
  .comments-header h1 {
    font-size: 1.5rem;
  }
}


@media (max-width: 450px) {

  .comments-page {
    width: 390px;
    padding: 1rem 0.5rem;
  }

  .comments-header h1 {
    font-size: 1.25rem;
  }
}