@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.comment-form {
  @include card($spacing-xl, $radius-lg);
  margin-bottom: $spacing-xl;

  textarea {
    min-height: 200px;
    min-width: 100%;
    padding: $spacing-md;
    border: 1px solid $border-color;
    border-radius: $radius-sm;
    font-size: $font-size-base;
    color: $dark-text;
    resize: vertical;
  }

  &-footer {
    @include flex-between;
    margin-top: $spacing-lg;

    .character-count {
      color: $light-text;
      font-size: $font-size-sm;
    }
  }
}
